<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2>Weather App</h2>
      <form action="/" method="POST">
        <input
          type="text"
          name="city"
          id="city"
          class="form form-control"
          required
        /><br />
        <input
          type="submit"
          class="form form-control btn btn-primary"
          value="Get Weather"
        />
      </form>

      <h2>
        <% if (locals.weather!=null){ %> <%= locals.weather %> <%}%> <%
        if(locals.error!=null) { %> <%=locals.error%> <%}%>
      </h2>
    </div>
  </body>
</html>
