<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2>Weather App</h2>
      <form action="/" method="POST">
        <input
          type="text"
          name="city"
          value="Enter City name"
          id="city"
          class="form form-control"
        /><br />
        <button type="submit" class="form form-control btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
